<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucas.scheduler"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.StuffListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <data android:mimeType="vnd.android.cursor.dir/stuff"/>
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.StuffEditActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="vnd.android.cursor.item/stuff"/>
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.CategoryListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="vnd.android.cursor.dir/category"/>
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.KindListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="vnd.android.cursor.item/category"/>
            </intent-filter>
        </activity>
        
        <provider
            android:name="com.lucas.scheduler.data.SchedulerProvider"
            android:authorities="@string/authority"
            android:exported="false"/>
    </application>
</manifest>
